@import url('../../../fonts/Lato-Regular.ttf');

:root {
    --primary-color: #008161b7;
    /* Azul */
    --secondary-color: #f4821fde;
    /* Verde */
    --tertiary-color: #e4f0fbd7;
    /* Azul claro */
    --quaternary-color: #2195f3ce;
    /* Azul oscuro */
    --background-color: #f4f4f4;
    /* Gris claro */
    --text-color: #333;
    /* Gris oscuro */
}


* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
}

.navbar {
    background-color: var(--secondary-color);
    padding: 1.75rem;
    border-radius: 1.5rem;
    margin: 0.25rem;
    color: var(--text-color);
}

.navbar-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-elements ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navbar-elements ul li {
    margin: 0 1rem;
}

.navbar-elements ul li a {
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.3s;
    font-weight: bold;
}

.navbar-elements ul li a:hover {
    color: var(--background-color);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.detalles {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
    flex-direction: column;
    background-color: var(--tertiary-color);
    padding: 1rem;
    border-radius: 1.5rem;
    font-size: 1.25rem;
    height: 20rem;
    width: 20rem;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: var(--tertiary-color);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 1.5rem;
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content label {
    font-weight: bold;
    margin: 0.5rem 0;
    font-size: 2rem;
}

.modal-content input {
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    margin: 0.5rem 0;
}

.modal-content select {
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    margin: 0.5rem 0;
}

.btn-update {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    margin: 0.5rem 0;
    cursor: pointer;
    font-size: 1rem;
}

.btn-update:hover {
    background-color: var(--secondary-color);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.btn-delete {
    background-color: rgb(192, 34, 34);
    color: var(--background-color);
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    margin: 0.5rem 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s
}

.btn-delete:hover {
    background-color: rgb(255, 69, 69);
}

.citas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    background-color: var(--tertiary-color);
    padding: 1rem;
    border-radius: 1.5rem;
    height: 13rem;
    width: 13rem;
}

.citas ul {
    list-style: none;
}

.citas li {
    margin: 0.5rem;
    font-size: 1.25rem;
}

.add-cita {
    background-color: var(--quaternary-color);
    color: var(--background-color);
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    margin: 0.5rem 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s
}

.add-cita:hover {
    background-color: var(--secondary-color);
}

.gerentes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    background-color: var(--tertiary-color);
    padding: 1rem;
    border-radius: 1.5rem;
    height: 13rem;
    width: 13rem;
}

.gerentes ul {
    list-style: none;
}

.gerentes li {
    margin: 0.5rem;
    font-size: 1.25rem;
}

.empleados {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    background-color: var(--tertiary-color);
    padding: 1rem;
    border-radius: 1.5rem;
    height: 13rem;
    width: 13rem;
}

.empleados ul {
    list-style: none;
}

.empleados li {
    margin: 0.5rem;
    font-size: 1.25rem;
}